@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';
